@use "sass:map";
@use '@angular/material' as mat;

mat-card{
    border-radius: 1.2rem ;
    transition: all 500ms ease;    
}

mat-card:hover {
  background: rgba(lighten(#514843, 5%), 0.8);
  border: solid 1px;
  border-color: 'white';
  transform: translateY(-0.5rem);
}

mat-card-header{
  flex: 1;
  justify-content: space-evenly;
}

mat-card-title{
  text-align: center;
}

mat-card-actions{
  justify-content: space-between;
}

mat-card img{
    align-self: center;
    width: 90%;
    height: 200px;
    object-fit:cover;
    border-radius: 1.2rem ;    
}

img.empty-search{
  max-width: 600px;
  width:100%;
  height:auto;
  align-self: center;
  object-fit: cover;
}

.empty-search-container{
  text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.flex-container mat-card{
  flex: 1 1 340px;
  max-width: 400px;
  padding: 10px;
}

.attributes{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.attributes  p{
  margin:0;
}

// to highlight the numbers
.attributes span{
  color: #e0ac8e;
  font-weight:500;
}

//to truncate the summary text
//TODO: create a pipe that calculates size of the component instead
.text-overflow-clamp {
    margin: 1em 0 1em 0;
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
}

// chips colors
.vegetarian{
  background-color: #388c42!important;
}

.vegan{
  background-color: #246f2b !important;
}

.dairy-free{
  background-color: #929188 !important ;
}

.gluten-free{
  background-color: #a6845c !important;
}

.chip-plus{
  background-color: #929188!important;
}

// minimum height for chip list in case none render
mat-chip-listbox{
  justify-content: center;
  min-height: 40px;
}

.chips-container{
  display: flex;
  justify-content: center;
}
